.each-slide {
    min-height: 80vh;
    max-height: 80vh;
    background-color: purple;
    margin: 2px;
}

.slide-image {
    width: 100vw;
    height: 80vh;
    /* ------------------- 1. TO SLIDE IMAGE---------------------------------- */
    /* background-size: contain; */
    /* background-size: cover; */

    /* ------------------- 2. TO FAD IMAGE-----/  3.TO ZOOMING EFFECT ----------------------------- */
    object-fit: cover;
    position: relative;
}

/* ----------------- 2. TO FAD IMAGE-----/ ~~~~~~~ 3. TO ZOOM EFFECT~~~~~~~~~~~~~ */
.each-slide .caption {
    padding: 20px;
    font-size: 20px;
    /* background: #7cf37c; */
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.caption1, .caption2, .caption3{
    background-color: blue;
    background: linear-gradient( lightgray,lightgray, rgb(88, 88, 88));
    width: 600px;
    border-radius: 10px;
    opacity:0.5 ;
}